{% extends "scafold.html" %}
{% block content %}
{% load static %}

<div class="row">

  <br>

    <div class="col-md-12 col-sm-12">
      <!-- LEFT - HEADING AND TEXTS -->
      <div class="row">
        <div class="col-md-4 col-lg-4 pull-left">
          <div class="contact-screenshot pull-left"><img class="featured-image" src="{% static 'img/Quality.jpg' %}" alt="From Quote to Completion"></div>
        </div>
        <div class="col-md-6">
          <div class="content-wrap  text-left contact-container">
            <div class="onepage-title">
              <h2>Contact me</h2>
              <div class="colored-line pull-left"></div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <ul><h3>
                  <li>
                  <i class="glyphicon glyphicon-home"></i>
                  <span class="name">Address</span>
                  </li><p></p>
                  <li><strong>ClawFoot</strong></li>
                  <li>107 Ontario St.</li>
                  <li>Guelph Ontario</li>
                  <li>N1E 3B3</li></h3>
                </ul>
              </div>
              <div class="col-md-6">
                <ul><h3>
                  <li>
                  <i class="glyphicon glyphicon-phone"></i>
                  <span class="name">Phone</span>
                  </li><p></p>
                  <li><a href="tel:6474582468">647-458-2468</a></li>
                </ul>
                <ul><h3>
                  <li>
                  <i class="glyphicon glyphicon-envelope"></i>
                  <span class="name">Email</span>
                  </li><p></p>
                  <li><a href="mailto:donald@clawfootrepair.ca">donald@clawfootrepair.ca</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--.row-->
        </div>
        <div class="col-md-12 col-sm-12">
          <!-- RIGHT - REGISTRATION FORM -->


        </div>
      </div>
      <!--.row-->
    </div>
    <!--.container-->
</div>
    {% endblock %}
