{% extends "scafold.html" %}
{% block content %}
{% load static %}
<!-- About -->
<div class="row">

    {% include "includes/pages/About.html" %}
</div>
<!-- Professional services -->
<div class="row">

    {% include "includes/pages/services.html" %}

</div>
<!-- Residential services -->
<div class="row">


    {% include "includes/pages/Residential.html" %}


</div>
<!-- Professional services -->
<div class="row">


    {% include "includes/pages/Restoration.html" %}


</div>



{% endblock %}
