{% block content %}
{% load static %}


<div class="col-md-12 col-sm-12">

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <!-- LEFT - HEADING AND TEXTS -->
      <div class="row">
        <div class="col-md-6 col-lg-6  pull-right">
          <div class="side-screenshot pull-left"><img class="featured-image" src="{% static 'img/Don_1.jpg' %}" alt="Your Guelph Handyman"></div>
        </div>
        <div class="col-md-6">
          <div class="content-wrap  text-left">

            <div>
              <h2>About Donald- Your Guelph Handyman!</h2>
              <div class="sub-heading">My name is Donald, and I have a background in material science and a passion and proficiency for repairs and restorations. I offer a variety of handyman and restoration services, and it’s my commitment to
                provide prompt, reliable, affordable services. No job is too small! I’m fully insured, highly qualified, and I will treat your project like it is my own.</div>
            </div>

            <div>
              <ul class="icon">
                <li>
                  <h3><span class="glyphicon glyphicon-time"></span> Always on Time</h3>
                </li>
                <li>
                  <p>If I say I’m going to be there at a specific time, I’ll be there! Always dependable, always reliable.</p>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
      <!--.row-->
    </div>

  </div>
  <!--.row-->
</div>

<!--.container-->
{% endblock %}
