{% block content %}
{% load static %}

<div class="col-md-12 col-sm-12" id="Residential Services">
    <!-- LEFT - HEADING AND TEXTS -->
    <div class="textbox">

        <div id="box-2">
                <span>
                Residential Services
                <h3>I thrive on repairs, maintenance, and all types of fixes.
                    <p>If your fine furniture or beautiful house needs some attention, I will show it the love it needs.</p>
                    <h3>
                </span>

        </div>
    </div>
    <div class="textbox">
        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/Roller.png' %}" class="attachment-thumbnail size-thumbnail" alt="" srcset="{% static 'img/Roller.png' %} 120w, {% static 'img/Roller.png' %} 75w" sizes="(max-width: 120px) 100vw, 120px" width="120"
                            height="120">
                        <h3 style="text-align: center;">Decorating</h3>
                        <p class="content">I love painting and decorating! Wallpapering, internal and external painting and decorating works carried out professionally.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/Man1.png' %}" class="attachment-thumbnail size-thumbnail" alt="" srcset="{% static 'img/Man1.png' %} 120w, {% static 'img/Man1.png' %} 75w" sizes="(max-width: 120px) 100vw, 120px" width="120"
                            height="120">
                        <h3 style="text-align: center;">Removals</h3>
                        <p class="content">Need something moved or taken down? I can help with heavy and difficult loads such as washing machines and demalition.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="{% static 'img/wrench.png' %}" class="attachment-thumbnail size-thumbnail" alt="" srcset="{% static 'img/wrench.png' %} 120w, {% static 'img/wrench.png' %} 75w" sizes="(max-width: 120px) 100vw, 120px" width="120"
                                height="120">
                            <h3 style="text-align: center;">Building</h3>
                            <p class="content">Small building works carried out at your convenience. Basement renovations, drywalling, decks, padiosand more. Please call us to discuss.</p>
                        </div>
                    </div>



                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/Saw.png' %}" class="attachment-thumbnail size-thumbnail" alt="" srcset="{% static 'img/Saw.png' %} 120w, {% static 'img/Saw.png' %} 75w" sizes="(max-width: 120px) 100vw, 120px" width="120"
                            height="120">
                        <h3 style="text-align: center;">Carpentry</h3>
                        <p class="content">My speciality! I love making custom storage solutions, hanging doors, fixing skirtings and generally working with wood of all shapes and sizes.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/Gate.png' %}" class="attachment-thumbnail size-thumbnail" alt="" srcset="{% static 'img/Gate.png' %} 128w, {% static 'img/Gate.png' %} 75w" sizes="(max-width: 128px) 100vw, 128px" width="128"
                            height="128">
                        <h3 style="text-align: center;">Landscaping</h3>
                        <p class="content">Where I started! I can do both heavy and light landscaping, from cutting lawns and gardening, to laying interlock and building fences.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/Drill.png' %}" class="attachment-thumbnail size-thumbnail" alt="" srcset="{% static 'img/Drill.png' %} 128w, {% static 'img/Drill.png' %} 75w" sizes="(max-width: 128px) 100vw, 128px" width="128"
                            height="128">
                        <h3 style="text-align: center;">Odd Jobs</h3>
                        <p class="content">Call me if you have a job that needs finishing and we can discuss the best way to get it done.</p>
                    </div>
                </div>



            </div>


            <!--.row-->
        </div>

    </div>
    <!--.row-->
</div>
<!--.container-->
{% endblock %}
