{% block content %}
{% load static %}

<div class="col-md-12 col-sm-12" id="Restoration Services">
    <!-- LEFT - HEADING AND TEXTS -->
    <div class="textbox">

        <div id="box-3">
                <span>
                Restoration Services
                <h3>
                    <p>Furniture restoration is my vocation.</p>
                    <p>I love Reparing and restoring antique or modern furniture</p>
                    <p> so it can continue to look great and bring value to our lives.</p>
                    <h3>
                </span>

        </div>
    </div>
    <div class="textbox">
        <div class="col-md-12">

            <div class="row">
                <div class="col-sm-4">
                    <div class="thumbnail">
                                <img src="{% static 'img/chair.png' %}" class="attachment-thumbnail size-thumbnail" alt="" srcset="{% static 'img/chair.png' %} 120w, {% static 'img/chair.png' %} 75w" sizes="(max-width: 120px) 100vw, 120px"
                                    width="120" height="120">
                                <h3 style="text-align: center;">Furniture Repair</h3>
                                <p class="content">Will repair any damage to get your piece looking great! Whether it is joinery, veneer repairs, warn finishes, or missing pieces, Ill make it look great.</p>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="thumbnail">
                        <img src="{% static 'img/paint.png' %}" class="attachment-thumbnail size-thumbnail" alt="" srcset="{% static 'img/paint.png' %} 120w, {% static 'img/paint.png' %} 75w" sizes="(max-width: 120px) 100vw, 120px" width="120"
                            height="120">
                        <h3 style="text-align: center;">Finishes</h3>
                        <p class="content">Give your furniture a refresh and protect it. I can make your furniture look new, old, and well cared for, or allow it to fit better with your decor.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="{% static 'img/desk.png' %}" class="attachment-thumbnail size-thumbnail" alt="" srcset="{% static 'img/desk.png' %} 120w, {% static 'img/desk.png' %} 75w" sizes="(max-width: 120px) 100vw, 120px" width="120"
                                height="120">
                            <h3 style="text-align: center;">Custom Pieces</h3>
                            <p class="content">Custom, bespoke pieces are done to your specifications—tables, chairs, desks, dressers, or other. Please call us to discuss.</p>
                        </div>
                    </div>
                </div>


            </div>


            <!--.row-->
        </div>
        <div class="col-md-12 col-sm-12">
            <!-- RIGHT - REGISTRATION FORM -->
        </div>
    </div>
    <!--.row-->
</div>
<!--.container-->
{% endblock %}
