{% block content %}
{% load static %}




<div class="col-md-12 col-sm-12" id="Professiol Services">
    <!-- LEFT - HEADING AND TEXTS -->
    <div class="textbox">
        <div class="col-md-6 col-lg-6 pull-left">
            <div class="side-screenshot pull-left"><img class="featured-image" src="{% static 'img/Quality.jpg' %}" alt="From Quote to Completion" title="Quality, Service, Reliability"></div>
        </div>
        <div class="col-md-6">
            <div class="content-wrap  text-left">
                <div class="onepage-title">
                    <h2>Professional Service</h2>
                    <div class="colored-line pull-left"></div>
                </div>


                <div>
                    <p>Professional, respectful, with an eye for detail. I take great pride in any job I do, from refinishing basements to hanging picture frames, I ensure to adhere to the highest of standards.
                        I have up-to-date knowledge of building codes and industry protocols and experience applying for building permits. I am willing to help in any way I can</p>
                    <ul class="icon">
                        <li>
                            <div class="icon-container pull-left"></div>
                            <h3><span class="glyphicon glyphicon-ok"></span>
                                Quality Satisfaction</h3>
                            <p>I ensure the highest quality for all services offered, accepting nothing less that 100% satisfaction.</p>
                        </li>
                    </ul>
                </div>
                <!--.content-->
            </div>
        </div>
    </div>
    <!--.row-->
</div>

<!--.row-->

<!--.container-->

{% endblock %}
