
{% block content %}

			 <!-- Great, til you resize. -->

					<!--<div class="well bs-sidebar" id="sidebar" style="background-color:#90A8FF;">-->
					<div class="navbar-collapse collapse">
					  <ul class="nav nav-pills nav-justified">
						  <li>
							  <a href='/home/'>HOME</a>
						  </li>
						  <li>
							  <a href='/home/#about Donald'>ABOUT ME</a>
						  </li>
						  <li>
							  <a href='/home/#Residential Services'>RESIDENTIAL</a>
						  </li>
						  <li>
							  <a href='/home/#Restoration Services'>RESTORATION</a>
						  </li>
						  <li>
							  <a href='/contact/'>CONTACT</a>
						  </li>
					  </ul>
					</div>

{% endblock %}
