{% block content %}


  <!-- Bottom Navigation -->

  <div class="text-center" id="bottomnav">
    <a href="/home/" alt="Home" class="current">Home</a> |
    <a href="#about Donald" alt="About" class="current">About</a> |
    <a href="/home/#Restoration Services" alt="research">Services</a> |
    <a href="/contact" alt="Current">Contact</a> 
  </div>
  <!--Bottom Navigation-->
  <!-- Copyright Info -->
  <div class="text-center" id="copyright">
    Made by Donald McGillivray | Copyright &copy; Donald McGillivray | All rights reserved
    <div class="date">Updated: June 2020
    </div>
  </div>
  <!--Copyright-->


<!--Footer-->

{% endblock %}
